@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.image-wrapper {
  @apply h-screen flex items-center justify-start;
  background: linear-gradient(90deg, rgba(22, 22, 22, 1) 0%, rgba(27, 27, 27, 1) 3%, rgba(0, 0, 0, 0) 60%),
    url(../src/assets/images-2/01.jpg);
  background-size: cover;
}

.gradient-bg {
  align-items: center;
  background-image: linear-gradient(90deg, #333 5%, #181818 95%);
  box-shadow: 8px 5px 16px 0 rgba(0, 0, 0, 0.37);
  display: flex;
  margin-bottom: 32px;
  padding: 10px;
}
