@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.image-wrapper {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515), url(../src/assets/images-2/02.jpg);
  background-size: cover; 
  @apply h-screen flex items-center justify-center;
}