@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.left-side-wrapper {
  @apply text-white flex flex-col items-start h-full justify-center;
  background: linear-gradient(
    90deg,
    #181818 10%,
    hsla(0, 0%, 9%, 0.98) 20%,
    hsla(0, 0%, 9%, 0.97) 25%,
    hsla(0, 0%, 9%, 0.95) 35%,
    hsla(0, 0%, 9%, 0.94) 40%,
    hsla(0, 0%, 9%, 0.92) 45%,
    hsla(0, 0%, 9%, 0.9) 50%,
    hsla(0, 0%, 9%, 0.87) 55%,
    hsla(0, 0%, 9%, 0.82) 60%,
    hsla(0, 0%, 9%, 0.75) 65%,
    hsla(0, 0%, 9%, 0.63) 70%,
    hsla(0, 0%, 9%, 0.45) 75%,
    hsla(0, 0%, 9%, 0.27) 80%,
    hsla(0, 0%, 9%, 0.15) 85%,
    hsla(0, 0%, 9%, 0.08) 90%,
    hsla(0, 0%, 9%, 0.03) 95%,
    hsla(0, 0%, 9%, 0)
  );
}

.image-wrapper {
  @apply h-screen flex items-center justify-start;
  background: linear-gradient(
      0deg,
      #181818 0,
      hsla(0, 0%, 9%, 0.987) 1.62%,
      hsla(0, 0%, 9%, 0.951) 3.1%,
      hsla(0, 0%, 9%, 0.896) 4.5%,
      hsla(0, 0%, 9%, 0.825) 5.8%,
      hsla(0, 0%, 9%, 0.741) 7.06%,
      hsla(0, 0%, 9%, 0.648) 8.24%,
      hsla(0, 0%, 9%, 0.55) 9.42%,
      hsla(0, 0%, 9%, 0.45) 10.58%,
      hsla(0, 0%, 9%, 0.352) 11.76%,
      hsla(0, 0%, 9%, 0.259) 12.94%,
      hsla(0, 0%, 9%, 0.175) 14.2%,
      hsla(0, 0%, 9%, 0.104) 15.5%,
      hsla(0, 0%, 9%, 0.049) 16.9%,
      hsla(0, 0%, 9%, 0.013) 18.38%,
      hsla(0, 0%, 9%, 0) 20%
    ),
    url(../src/assets/images-2/01.jpg);
  background-size: cover;
}

.gradient-bg {
  @apply mx-14 flex relative items-center py-2 px-6 mb-8 justify-between;
  margin-top: -120px;
  background-image: linear-gradient(90deg, #333 5%, #181818 95%);
  box-shadow: 8px 5px 16px 0 rgba(0, 0, 0, 0.37);
}

.gradient-line {
  background: linear-gradient(90deg, #777 0, rgba(51, 51, 51, 0.5) 50%, #777);
  height: 1px;
  margin-bottom: 25px;
}

.horizontal-item-container {
  @apply mr-3;
}
.movies-like-this {
  @apply w-[300px] h-[200px] flex-1 object-cover mr-3 cursor-pointer transition-all duration-300 ease-in-out hover:scale-90;
}
.link-items {
  @apply hover:underline cursor-pointer;
}
